<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Controller.Listeners.DBListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Registeration</servlet-name>
        <servlet-class>Controller.Servlets.Registeration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Controller.Servlets.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignIn</servlet-name>
        <servlet-class>Controller.Servlets.AdminSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStudentStatus</servlet-name>
        <servlet-class>Controller.Servlets.ChangeStudentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>Controller.Servlets.AddSubject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registeration</servlet-name>
        <url-pattern>/Registeration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignIn</servlet-name>
        <url-pattern>/AdminSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStudentStatus</servlet-name>
        <url-pattern>/ChangeStudentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/AddSubject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
